@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@font-face {
  font-family: 'regular';
  font-weight: 400;
  src: local(''), url('../styles/fonts/Poppins/Poppins-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'light';
  font-weight: 300;
  src: local(''), url('../styles/fonts/Poppins/Poppins-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'medium';
  font-weight: 500;
  src: local(''), url('../styles/fonts/Poppins/Poppins-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'semiBold';
  font-weight: 600;
  src: local(''), url('../styles/fonts/Poppins/Poppins-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'bold';
  font-weight: 700;
  src: local(''), url('../styles/fonts/Poppins/Poppins-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'extraBold';
  font-weight: 800;
  src: local(''), url('../styles/fonts/Poppins/Poppins-ExtraBold.ttf') format('truetype');
}

@font-face {
  font-family: 'black';
  font-weight: 900;
  src: local(''), url('../styles/fonts/Poppins/Poppins-Black.ttf') format('truetype');
}

body {
  background-color: #fff;
}

:where(.css-dev-only-do-not-override-qgg3xn).ant-form {
  width: 100%;

}

:where(.css-dev-only-do-not-override-qgg3xn).ant-input {
  border-color: #D9D9D9;
  border-width: 1.5px;
  color: black;
  font-size: 14px;
  height: 37px;
  font-family: 'semiBold';
}

:where(.css-dev-only-do-not-override-qgg3xn).ant-input:focus,
:where(.css-dev-only-do-not-override-qgg3xn).ant-input:focus-within {
  border-color: #E6A73A !important;
}

:where(.css-dev-only-do-not-override-qgg3xn).ant-input:hover {
  border-color: #E6A73A !important;
}

:where(.css-dev-only-do-not-override-qgg3xn).ant-select:not(.ant-select-customize-input) .ant-select-selector {
  border: 1.5px solid #D9D9D9;
}

:where(.css-dev-only-do-not-override-qgg3xn).ant-select-single {
  width: 100% !important;
  height: 37px;
}

:where(.css-dev-only-do-not-override-qgg3xn).ant-select .ant-select-selection-item {
  color: black;
  font-size: 14px;
  font-family: 'semiBold';
}

:where(.css-dev-only-do-not-override-qgg3xn).ant-select:not(.ant-select-disabled):not(.ant-select-customize-input):not(.ant-pagination-size-changer):hover .ant-select-selector {
  border-color: #E6A73A !important;
}

.ant-select-focused:where(.css-dev-only-do-not-override-qgg3xn).ant-select:not(.ant-select-disabled):not(.ant-select-customize-input):not(.ant-pagination-size-changer) .ant-select-selector {
  border-color: #E6A73A !important;
}

:where(.css-dev-only-do-not-override-qgg3xn).ant-form-item .ant-form-item-explain-error {
  color: #ff4d4f;
  font-family: 'light';
}

:where(.css-dev-only-do-not-override-qgg3xn).ant-checkbox-wrapper {
  font-family: 'medium';
  font-size: 14px;
  color: #5F627F;

}

:where(.css-dev-only-do-not-override-qgg3xn).ant-checkbox .ant-checkbox-inner {
  border-radius: 20px !important;
  border-color: #5F627F;
}

:where(.css-dev-only-do-not-override-qgg3xn).ant-checkbox-checked .ant-checkbox-inner {
  background-color: #5F627F;
  padding: 1px;
  border-color: #5F627F;
}

.ig {
  background-image: url('/images/background_2.png');
  background-size: cover;
  background-repeat: no-repeat;
}